@page "/"

<PageTitle>Index</PageTitle>
<div class="container">
    <div class="row align-items-start">
     <div class="col">
    <select @onchange="@ChangeDate" class="form-select" style="width:200px">
       
        <option value="Hoje">
            Hoje
        </option>
        <option value="Ontem">
            Ontem
        </option>
        <option value="Esta semana">
            Esta semana
        </option>
        <option value="Este mes">
            Este mês
        </option>
        <option value="30 dias">
            Últimos 30 dias
        </option>
        <option value="Mes anterior">
            Mês anterior
        </option>
        <option value="3 meses">
            Últimos 3 meses
        </option>
        <option value="6 meses">
            Últimos 6 meses
        </option>
        <option value="Este ano">
            Este ano
        </option>
        <option value="Ano passado">
            Ano passado
        </option>
    </select>
   
    </div>
   
    <label>Data Inicial: @dataInicial.ToShortDateString()</label>
   
    <label>Data Final @dataFinal.ToShortDateString()</label>
   
  
    
    </div>
 
</div>
@code {

    private DateTime dataInicial = DateTime.Now;
    private DateTime dataFinal = DateTime.Now;
    private readonly DateTime dataAtual = DateTime.Now;

    private Task ChangeDate(ChangeEventArgs e)
    {
        if(e.Value != null)
        {
            dataInicial = DatasReutilizaveis.DataInicial(e.Value.ToString());
            dataFinal = DatasReutilizaveis.DataFinal(e.Value.ToString());
        }
        return Task.CompletedTask;
    }
}
